/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2016, 4:08:46 PM
    Author     : lenovo
*/
.nav.side-menu{
    cursor: pointer;   
}
#menu_toggle{
    cursor: pointer; 
}
fa.fa-home:active {
    border-right: 5px solid #1ABB9C;
}
.footer{  
    bottom: 0px;
    margin: 0px;
}
.profile_info {
    padding-top: 15px;
}
td.last{
    width: 130px;
}
#logout{
  width: 100%;
  background:none;
  border:none;
  font-size:1em;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
  cursor: pointer;
}
.dropdown-menu>li>form:focus, .dropdown-menu>li>form:hover ,.dropdown-menu>li>#logout:focus ,.dropdown-menu>li>#logout:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.btn-danger:hover{
	background-color: #a51c17;
    border-color: #a51c17;
}
.tanda-terima{
	width: 21cm;
    max-height: 29.7cm;
	margin: 2px;
    border: 1px #D3D3D3 solid;
    border-radius: 1px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.html5buttons{
	float: right;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #2f4050;
	font-size: 13px;
	color: #676a6c;
	overflow-x: hidden;
} 
.html5buttons a{
	border: 1px solid #e7eaec;
	background: #fff;
	color: #676a6c;
	box-shadow: none;
	padding: 6px 8px;
	font-size: 12px;
}
.dataTables_info{
	float:none;
}
.btn-sm{
    padding: 5px 12px;
}
.table>tbody>tr>td{
	padding: 6px;
	vertical-align: middle;
}
footer{
	position: absolute; bottom: 0; width:100%; height:50px;
}

/*area css im_chat*/
.loginColumns{
    padding: 10px 10px 10px 10px;
}
textarea{
    resize: none;
}
.title_chat{
    margin-top: 0px;
    margin-bottom: 18px;
}
.btn_new{
    margin-bottom: 10px;
}
.chat_view, .list_user, .chat_box{
    width:100%;
}
.chat_view{
     background-color: white!important;
     min-height: 366px;
     height: 366px;
     overflow: scroll;
}
.chat_view p{
     margin-bottom: 5px;
}
.list_user_div,.btn_chat_div{
    padding-left: 0px;
}
.list_user{
    background-color: white!important;
}
.chat_box_div,.btn_chat_div{
    padding-top: 10px;
}
.btn_chat{
    height:34px;
}
.dl_link:hover{
    color:white!important;
}
.dl_link:active{
    color:white!important;
}
.file .image:hover{
    cursor: pointer;
}
.p_filename{
    width:100%;
    height:20px;
    overflow:overlay;
    margin-bottom: 5px;
}
.icon_sampah{
    cursor: pointer;
}
@media screen and (max-width: 767px)
{
    div.dataTables_info{
    display: none;
    }
}
.pad_none{
    padding-left: 0px;
    padding-right: 0px;
}